body{
    margin:0px;
    height: 100%;
    width:100%;
    background-image: url("C:/Users/91938/Pictures/Saved Pictures/zomato_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: blueviolet; */
   
}

.box{
    
    text-align: center;
    /* color: #BB9CDC; */
    background-color: brown;
    justify-content: flex-start;
    height: 850px;
    width: 500px;
    margin: auto;
    opacity: 0.9;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 75px;
    margin-bottom: 50px;
    align-content: flex-end;
    border: 4px dashed brown;
    padding: 15px;
    background-clip: padding-box;
}

input[type="text"],input[type="email"],input[type="password"]
{
    height:40px;
    font-size:14px;
    border-radius: 15px;
}

button{
    height:25px;
    font-size:10px;
    border-radius: 15px;
    font-weight: bold;
}